html {
    font-size: 62.5%;
    @media screen and (max-width: 1200px) {
        font-size: 50%;
    }
}
body {
    position: relative;
    margin: 0;
    //padding-bottom: 1200px;
    font-size: 1.8rem;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        display: none;
        width: 1px;
        height: 100%;
        background-color: green;
    }
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
p {
    margin: 0;
    padding: 0;
}
.container-big {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1800px;
    width: 100%;
}
input[type="submit"]:disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
}
.container {
    max-width: 1600px;
}

.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}

.el-loading-mask.is-fullscreen {
    background-color: rgba(0, 0, 0, 0.8);
}
.el-loading-mask.is-fullscreen .el-loading-spinner .circular {
    width: 5rem;
    height: 5rem;
}
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    background-color: transparent;
}
.db {
    display: block;
}
.icon-error {
    font-size: 2rem;
    color: red;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}