.btn {
    font-size: 1.8rem;
}
.navbar-brand {
    font-size: 1.8rem;
}
.dropdown-menu {
    font-size: 1.8rem;
}
.form-control {
    font-size: 1.8rem;
}
.tab-content > .tab-pane {
    padding: 3rem 0;
}
.pointer {
    cursor: pointer;
    label {
        cursor: pointer;
    }
}
.app {
    min-height: 120vh;
}
